<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey</h1>
    <p>
      Just click on <a href="<%= @url %>">this link</a> to log into the brunch dashboard.
    </p>
    <p>
      If that doesn't work, try entering this into your browser's address bar: <%= @url %>.
    </p>
    <p>
      Thanks for joining, and have a great day!
    </p>
    <p>
      Sincerely,
      <br/><br/>
      The Brunch Team
    </p>
  </body>
</html>
