<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey<%= @user.name%></h1>
    <p>
      Brunch Bot here. Just sending you your monthly reminder to sign up for next months brunch. Click on any of the buttons below to sign up for that date
    </p>
    <a class="EventSignUpButton" href=""> </a>
    <p>
      Sincerely,
      <br/><br/>
      Brunch Bot
    </p>
  </body>
</html>
