<div class="SignUpBox">
	<p>
	Welcome
	</p>
	<p>
	Enter your email in here and we will send you a link to login
	</p>
	 <%= form_tag(:action => 'log_in') do %>
  	  <%= text_field_tag(:email, @email, placeholder:"bacon@sandwiches.yum", class: "signUpForm") %>
  	  <% if @is_new_user  %>
	  	  <br/>
		    <p> This seems to be your first time logging in. Please provide your name here </p>
		    <%= text_field_tag(:first_name, @first_name,  placeholder:"full name", class: "signUpForm") %>
  	  <% end %>
      <%= button_tag @signUpButton, class: 'submitButton', data: {disable_with:"<i class='fa fa-spinner fa-spin'></i> Signing in..."} %>
		<% end %>
</div>
