<div class="SignUpBox">
	<p>
	Welcome
	</p>
	<p>
	Enter your email in here and we will send you a link to login
	</p>
	 <%= form_tag(:action => @signUpAction) do %>
  	  <%= text_field_tag(:email, @email, placeholder:"bacon@sandwiches.yum", class: "signUpForm") %>
  	  <% if !@isCurrentUser  %>
  	  <br>
  	    <p> This seems to be your first time logging in. Please provide your name here </p>
  	    <%= text_field_tag(:first_name, @first_name,  placeholder:"first name", class: "signUpForm") %>
  	  <% end %>
      <%= submit_tag @singUpButton, class: 'submitButton' %>
			<% end %>
</div>
