<table class="week_table" summary="Users for week">
  <tr align="center">
    <th align="center" class="week_table_heading">
      <td>
        <%= event.date.day.to_s + " " + event.date.strftime("%B") %>
      </td>
      <td>
        <%= event.remaining_spaces? %>
      </td>
    </th>
  </tr>
<% event.users.each do |user| %>
  <tr >
    <td class="week_table_row">
      <%= user.first_name %>
    </td>
  </tr>
<% end %>
  <tr align="center">
    <td align="center">
<% if !event.users.include?(@user) %>
      <a href="#">Sign Up</a>
<% else %>
      <a href="#">Drop Out</a>
<% end %>
    </td>
  </tr>
</table>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% end %>
