<table summary="Users for week">
  <tr>
    <th>
    <%= event.date.day.to_s + " " + event.date.strftime("%B") %>
    </th>
  </tr>
  <% event.users.each do |user| %>
    <tr>
      <td>
        <%= user.first_name %>
      </td>
    </tr>
  <% end %>
</table>