<div class="SignUpBox">
	<p>
		Cool. An email will be sent to all the volunteers who have not already signup for the next brunch session.
	</p>
	<p>
		You can put your feet up. I am sure we will be able to find more vollunteers.
	</p>
</div>