
.NavBar {
	background-color: #FFD041; 
}

.BrunchLogo {
	display: block;
	margin: 0 auto;
	padding: 5px 0;
}

.SignUpBox {
	background-color: #EEEEEE;
	max-width: 500px;
	margin: 10px auto;
}

p {
	text-align: center;
}

