
table, th, td {
	width  : 250px;
	margin: 5px;
	border : 5px solid #EEEEEE;
}

.TableHeader {
	text-align: center;
}

.RemoveButton {
	right: 0;
	padding-right: 4px;
	display: inline-block;
	float: right;
	font-size: 0.5em;
	color: #F07818;
	text-decoration: none;
	margin-top: 1.25em;
	position: absolute;
}

.UserName {
	display: inline-block;
	top: 0.5em;
	margin: 	auto;
	vertical-align: middle;
	position: relative;
	height: 100%;
}

body{
	display: flex;
	flex-flow:column;
}

html, body { height: 100%; width: 100%; margin: 0; }

.week_table {
	display          : inline-block;
	vertical-align   : top;

	margin           : 10px;

	background-color : #EEEEEE;
	text-align       : center;
}

.week_table_heading {
	padding : 5px;
}

.events {
	position       : relative;


	overflow-x     : scroll;


	text-align     : center;
	white-space    : nowrap;
	display: flex;
	flex: 1 1 auto;
}

.week_table_row {
	vertical-align   : middle;
	height           : 2em;
	text-align: center;
	background-color : white;
	position: relative;
	border: none;
    border-bottom: 3px solid transparent
}


.border_wrapper {
	width: 98.4%;
	height: 1.96em;
	margin: auto;
	border : 2.5px solid #78AD68;
}

.signupRow {
	vertical-align   : middle;
	height           : 2em;
	text-align: center;
	background-color : #78AD68;
	color: white;
	border-left: none;
    border-right: none;
}

.signUpRowButton {
	padding-top:0.5em;
	color: white;
	text-decoration: none;

}

.eventWrapper {
	display        : inline-block;
	vertical-align : top;

	text-align     : center;
	white-space    : nowrap;
	display: flex;
	align-items:flex-start;
	flex: 1 1 auto;
	justify-content:center;

}

.sideButton {
	height: 100%;
	display: flex;
	flex-flow:column;
	justify-content:center;
	flex: 0 0 auto;
	align-self:center;
}

.sideButton a{
	height           : 100px;
	width            : 100px;
	background-color : #EEEEEE;
	border-radius    : 5px;
	margin: 8px;
	text-decoration: none;
	color: black;
	display: flex;
	justify-content:center;
	flex-flow:column;
	border: 1px solid transparent;
}

.sideButton a:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}

.week{
    min-width:10em;
    width:25%;
    text-align       : center;
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 0;
    box-sizing:border-box;
    background-color : #EEEEEE;
    display: inline-block;
    

  }

  .date{
    padding: 1em;
  }

  .week ul{
    width:100%;
  }

  .week li{
    width: calc(100% - 1em);
    position:relative;
    background-color: white;
    margin:0.5em;
    box-sizing:border-box;
    display: block;
  }

  .week a, .week .user_name{
    width:100%;
    height:100%;
    display: block;
    padding: 0.5em;
    box-sizing:border-box;
  }

  .signUpRowButton{
    background-color:  #78AD68;
  }

  .signUpRowButton:focus, .signUpRowButton:hover{
    background-color: white;
    color: black;
  }

  .week a.user_name::after{
    content:'remove';
    position: absolute;
    right:1em;
    top:1em;
    width:initial;
    font-size: 0.5em;
    color: #F07818;
    height:4em;
    line-height: 2em;
    text-decoration: none;
  }

  .week a.user_name{
    border: 2px solid #78AD68;
    text-decoration: none;
    color: black;
  }

  .week a.user_name:hover{
    background-color: #78AD68;
  }

  .week a.user_name:hover::after{
    color: white;
  }
  .mobile {
  	display: none;
  }

  @media screen and (min-width: 601px) and (max-width: 940px ){
  	.sideButton a{
  		font-size: 0.1px;
  		width:initial;
  	}
  }

  @media screen and (max-width: 600px) {
  	.mobile{
  		display: block;
  	}

  	.desktop{
  		display: none;
  	}

  	.events{
  		flex-flow:column;
  	}

  	.sideButton{
  		width:100%;
  	}

  	.sideButton a {
  		width: initial;
  		height:initial;
  		padding: 1em;
  	}

  	.eventWrapper{
  		justify-content: flex-start;
	    flex-flow: column;
	    padding: 1em;
	    padding-top: 0;
  	}

  	.eventWrapper .week{
  		width:100%;

  	}

  }

