
table, th, td {
	width  : 250px;
	margin: 5px;
	border : 5px solid #EEEEEE;
}

.TableHeader {
	text-align: center;
}

.RemoveButton {
	right: 0;
	padding-right: 4px;
	display: inline-block;
	float: right;
	font-size: 0.5em;
	color: #F07818;
	text-decoration: none;
	margin-top: 1.25em;
}

.UserName {
	display: inline-block;
	top: 0.5em;
	margin: 	auto;
	vertical-align: middle;
	position: relative;
	height: 100%	;
}



html, body { height: 100%; width: 100%; margin: 0; }

.week_table {
	display          : inline-block;
	vertical-align   : top;

	margin           : 10px;

	background-color : #EEEEEE;
	text-align       : center;
}

.week_table_heading {
	padding : 5px;
}

.events {
	position       : relative;
	display        : inline-block;
	vertical-align : top;

	overflow-x     : scroll;
	height         : 90%;
	width          : 100%;
	margin         : auto auto;

	text-align     : center;
	white-space    : nowrap;


}

.week_table_row {
	vertical-align   : middle;
	height           : 2em;
	text-align: center;
	background-color : white;
	border-width: 2px;

}

.week_table_row_with_border {
	vertical-align   : middle;
	height           : 2em;
	text-align: center;
	background-color : white;
	/*border-width: 2px;
	border-color: #78AD68;
*/	border : 5px solid #78AD68;

}

.border_wrapper {
	width: 98.4%;
	height: 1.96em;
	margin: auto;
	border : 2.5px solid #78AD68;
}

.eventWrapper {
	display        : inline-block;
	vertical-align : top;

	text-align     : center;
	white-space    : nowrap;



}

.prevMonthButton {
	position:relative;
	display          : inline-block;
	left             : 0%;

	height           : 100px;
	width            : 100px;
	margin-top       : 30%;
	margin-right     : 8px;

	background-color : #EEEEEE;
	border-radius    : 5px;

	margin-bottom		 : 40%;
	margin-left			 : 8px;
}

.nextMonthButton {
	position:relative;

	display          : inline-block;
	top              : 50%;
	right            : 5px;

	height           : 100px;
	width            : 100px;
	margin           : auto 8px;

	background-color : #EEEEEE;
	border-radius    : 5px;
}

.linkSpan {
	position : absolute;
	top      : 0;
	left     : 0;

	height   : 100%;
	width    : 100%;
}
