<div class="GeneralMessageBox">
	<p>
		<%=@message%>
	</p>
	
</div>

<div class="continueButton">
	<%=link_to "Continue", {:controller => @redirect_controller, :action => @redirect_action	}, data: { disable_with:"<i class='fa fa-spinner fa-spin'></i> Loading"}, class: "link" %>
</div>